<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="identity" class="navigation col-lg-1" >
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div *ngIf="identity" class="" >
  <p>Estas logueado en la aplicación</p>
</div>

<div class="container-fluid" *ngIf="!identity">
  <div class="row">
    <form class="form-inline" action="index.html" method="post">
      <h3>Identificate</h3>
      <br>
      <p>
        <label> Correo electrónico:</label>
        <input type="text" class="form-control" name="" value="" required>
      </p>
      <p>
        <label> Contraseña:</label>
        <input type="password" class="form-control" name="" value="" required>
      </p>
      <input type="submit" value="Entrar" class="btn btn-primary">
    </form>
  </div>
   <div class="row">   

    <form class="form" action="index.html" method="post">
      <h3>Registrate</h3>
      <p>
        <label> Nombre:</label>
        <input type="text" class="form-control" name="" value="" required>
      </p>
      <p>
        <label> Apellidos:</label>
        <input type="text" class="form-control" name="" value="" required>
      </p>
      <p>
        <label> Correo electrónico:</label>
        <input type="text" class="form-control" name="" value="" required>
      </p>
      <p>
        <label> Contraseña:</label>
        <input type="password" class="form-control" name="" value="" required>
      </p>
      <input type="submit" value="Registrar" class="btn btn-success">
    </form>
   </div>
</div>
